name: Update M3U

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install

      - name: Generate M3U
        run: node generate-live.js

      - name: Commit changes
        run: |
          git config user.name "GitHub Bot"
          git config user.email "bot@github"
          # Tambahkan file yang dihasilkan dan file map ke staging
          git add live-auto.m3u
          git add live-auto-stats.json
          git add channel-map.json
          git commit -m "Auto update live m3u" || echo "No changes"
          git push
